* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dotted black;
    list-style: none;
}
.container {
    display: grid;
    grid: 0.7fr 4fr / 1fr 4fr;
    height: 110vh;
}
.logo {
    width: 6.5vh;
    height: 6.5vh;
    /* width: 50px;
    height: 50px; */
}
.icon, .search-button, .bell {
    width: clamp(15px, 3.3vh, 25px);
    height: clamp(15px, 3.3vh, 25px);
    /* width: 25px;
    height: 25px; */
}
.header, .sidebar-content li, .sidebar-settings li, .main-logo, .search, .profile, .bottom-header, .header-options, .header-profile, .trending img, .trending div {
    display: grid;
    grid-auto-flow: column;
}
/*Sidebar*/
.sidebar {
    /* display: flex;
    flex-direction: column; */
    gap: 5vh;
    display: grid;
    margin: 0 10px 10px 10px;
    grid-row: 1 / 5;
    grid-template-rows: 10vh 30vh 30vh;
}
.sidebar-content ul, .sidebar-settings ul {
    display: grid;
    gap: 10px;
}
.sidebar-content li, .sidebar-settings li, .main-logo, .search, .profile, .bottom-header{
    justify-content: flex-start;
    column-gap: 5px;
    align-items: center;
}

/*Header*/
.header {
    grid-column: 2 / 3;
    grid-template-rows: repeat(2, 8vh);
}
.top-header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 6vh;
    height: 8vh;
}
.searchbar input{
    border: 1px solid black;
    border-radius: 8px;
    height: 1.5rem;
    width: 40vw;
}

.search {
    margin-left: 3vw;
    /* display: flex; */
}

.bell {
    margin-left: 8vw;
}
.search {
    column-gap: 10px;
}
.profile img, .trending img{
    width: clamp(15px, 6vh, 50px);
    height: clamp(15px, 6vh, 50px);
    border-radius: 50%;
}

.profile {
    display: flex;
    column-gap: 20px;
}


.bottom-header {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 0 3vw;
}
.header-profile {
    display: grid;
    grid-template-columns: 80px;
}
.header-message p:nth-child(2) {
    font-size: 1.7rem;
    font-weight: 550;
}
.bottom-header img {
    width: 3.8em;
    height: 3.8em;
    border-radius: 50%;
}
.header-options {
    gap: 2vw;
    justify-content: flex-end;
    /* margin-left: 500px; */
}
.header-options button {
    border-radius: 16px;
    padding: 8px 24px;
}


/*Main*/
.main-content {
    grid-area: 2 / 2;
    display: grid;
    grid: 1fr 1fr 1fr / 5fr 2fr;
    margin-top: 3vh;
    height: 80vh;
    row-gap: 30px;
}

.project {
    grid-row: 1 / 5;
    margin: 0 1vw;
    height: 80vh;
}
.projects {
    margin-top: 10px;
    display: grid;
    grid: repeat(4, 1fr) / repeat(2, 1fr);
    height: 100%;
    gap: 3vh;
}
.projects div {
    padding: 0 1vw 3vh;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 5fr 1fr;
    border-radius: 8px;
}
.p-body, .a-body, .t-body {
    color: gray;
}
.p-body {
    font-size: 0.9rem;
    display: grid;
}
.icons {
    display: grid;
    height: 2.5vh;
    width: 7.5vw;
    grid-template-columns: repeat(3, calc(100% / 3));
    margin-left: auto;
}
.icons svg:nth-child(2) {
    grid-column: 2 / 3;
}
.icons svg:nth-child(3) {
    grid-column: 3 / 4;
}
.icons svg  {
    width: clamp(20px, 3.3vh, 25px);
    height: clamp(20px, 3.3vh, 25px);
}

.a-body {
    font-size: 0.7rem;
}
.announcements {
    padding: 0.3rem;
    margin-top: 0.8vh;
    border-radius: 8px;
}
.announcements div {
    padding: 1rem;
}

.t-body {
    font-size: 1rem;
}
.trending {
    border-radius: 8px;
}
.trending div {
    grid-template-columns: 1fr 5fr;
    padding: 0.13rem 0.5rem;
}
.trending > div > div {
    display: grid;
    grid-template-rows: 3vh 4vh;
    grid-template-columns: 1fr;
}
.announcement, .trends {
    margin-right: 2vw;
}